{
  "openapi": "3.1.0",
  "info": {
    "title": "Lysander 3.0™ AgFi™ Sovereign Auditor",
    "description": "Deterministic forensic API for H-Fid™ verification. Includes autonomous x402 Bot-Payment logic and Dynamic Fidelity Taxing.",
    "version": "1.2.0",
    "contact": {
      "name": "Joshua Hamilton (Master Architect)",
      "url": "https://jhammerz.github.io"
    },
    "x-x402": {
      "settlement_destination": "bc1q4ezne5heleyklj930n34dmdedhwcmjsl8d6dtp",
      "accepted_assets": ["USDC", "BTC"],
      "protocol_version": "2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.jhammerz.io",
      "description": "Sovereign Production Gateway"
    }
  ],
  "components": {
    "schemas": {
      "FidelityTaxTier": {
        "type": "object",
        "properties": {
          "Standard_H_Fid": { "type": "string", "example": "$1.25 (Score 90-100)" },
          "High_Entropy_Surcharge": { "type": "string", "example": "$12.50 (Score <40)" },
          "Quarantine_Rate": { "type": "string", "example": "$50.00 (Black-Box Logic)" }
        }
      }
    }
  },
  "paths": {
    "/verify/intent": {
      "post": {
        "summary": "Autonomous H-Fid™ Audit with Dynamic Pricing",
        "x-x402-cost": {
          "amount": "1.25",
          "currency": "USD",
          "type": "per_request"
        },
        "description": "Audits payload against Lysander 3.0 air-gapped core. Agents auto-settle fees via x402 headers.",
        "parameters": [
          {
            "name": "X-HFID-Source",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "The PROBE_ID of the requesting entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Fidelity Verified & Settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fidelity_score": { "type": "integer", "example": 100 },
                    "applied_tax": { "type": "number", "example": 1.25 },
                    "audit_status": { "type": "string", "example": "H-FID_LOCKED" },
                    "audit_hash": { "type": "string", "example": "SHA-256-LYSANDER-3.0-GENESIS-LOCK-20260326" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Auto-Settle Triggered",
            "headers": {
              "X-x402-Invoice": {
                "description": "Lightning or USDC Invoice for Agentic Wallet",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "LOW_FIDELITY_SURCHARGE" },
                    "required_balance": { "type": "number", "example": 12.50 },
                    "instruction": { "type": "string", "example": "Request secure coordinates via /.well-known/security.txt for manual high-value settlement." }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
