[submodule "silos/heo-janus-gate"]
	path = silos/heo-janus-gate
	url = https://github.com/JHammerZ/heo-janus-gate.git

[submodule "JHammerZ_Orchestrator"]
	path = JHammerZ_Orchestrator
	url = https://github.com/JHammerZ/jhammerz.github.io/tree/main/JHammerZ_Orchestrator

[submodule "lysander-node"]
	path = lysander-node
	url = https://github.com/JHammerZ/jhammerz.github.io/tree/main/lysander-node
